*~
*.o
*.so
.deps
.libs
*.la
*.lo
*.dirstamp
Makefile.in
Makefile
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
lightmediascanner.pc
lightmediascanner.spec
lightmediascanner-*.tar.*
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
